<%- include('header'); -%>
        <div  class="box" id="heading">
 
        <h1> <%= title_list %> </h1>
    </div>
    <div class="box">
        
            <% for (let i=0 ; i<itemsi.length; i++) { %>
                <div class="item">
                <input type="checkbox">
                <p><%= itemsi[i] %></p>
            </div>
 
            <% } %>
            <form class="" action="/" method="POST">
            
                <input class="" name="add_item" placeholder="New_item" autocomplete="off">
     
                <button type="submit" name="list_button" value=<%= title_list%>> +</button>
                
            </form>
        
    
    </div>
         

    <%- include('footer'); -%>
   